body {
    background-color: #ddd;
    font-family: 'PT Sans', sans-serif;
}

h1 {
    text-transform: uppercase;
    color: #2d2d2d;
    text-align: center;
}

p {
    color: #4d4d4d;
    font-weight: bold;
    text-align: center;
}

.corpo {
    width: 80%;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
    background-color: #e9e9e9;
    box-shadow: 3px 0 6px -4px rgba(0, 0, 0, .3);
    padding: 5px;
}

.cabecalho {
    display: block;
}

#perfil {
    border-radius: 50%;
    display: flex;
    margin: 2% auto;
    width: 15%;
}

#sobre_mim {
    width: 66%;
    margin: auto;
    text-align: center;
}


/* Conhecimentos */

.meu_conhecimento {
    padding: 0 50px;
    margin: 50px 0 10px 0;
    display: flex;
    width: 90%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.conhecimento {
    min-width: 300px;
    max-width: 33%;
    display: inline-flex;
}


.area_conhecimento{
    display: flex;
    width: 100px;
    height: 0;
    padding-bottom: 100px;
    border: 2px solid;
    border-radius: 100%;
}

.area_conhecimento h3 {
    text-align: center;
    display: flex;
    padding: 30%;
    font-size: 120%;
}

#design .area_conhecimento h3{
    margin: 5% 0 0 -10%;
    color: #6a219e;
}

#design .area_conhecimento {
    border-color: #6a219e;
}

#front .area_conhecimento h3 {
    margin: -4% 0 0 -2%;
    color: #38d1ce;
}

#front .area_conhecimento {
    border-color: #38d1ce;
}

#back .area_conhecimento h3 {
    margin: auto;
    margin-top: -4%;
    margin-left: -2%;
    color: #349E61;
}

#back .area_conhecimento {
    border-color: #349E61;
}

.conhecimento p {
    display: inline-flex;
    font-size: 10pt;
    margin-top: 8px;
    margin-left: 5px;
    width: 60%;
    text-align: left;
    font-weight: bold;
    color: #3d3d3d;
}

.cards {
    display: block;
    margin-top: 15px;
    text-align: center;
    padding: 0 15px;
}


.card {
    display: inline-block;
    position: relative;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    justify-content: space-around;
    background-color: #fff;
    box-shadow: 3px 3px 6px -4px rgba(0, 0, 0, .3);
}

.card h2 {
    margin-right: 3px;
    padding-right: 7px;
    text-transform: uppercase;
    display: inline;
    color: #3d3d3d;
    font-size: 13pt;
}

.card p {
    font-weight: bold;
    color: #4d4d4d;
}

.cabecalho_card {
    background-color: #f2f2f2;
    padding: 5px;
    padding-right: 2px;
    border-radius: 10px;
}

.local {
    border-right: 2px solid #3d3d3d;
}

.portifolio {
    display: block;
    margin-top: 15px;
    text-align: center;
    padding: 0 15px;
}

.portifolio h1 {
    text-transform: uppercase;
    color: #2d2d2d;
}

.imagem {
    display: inline-block;
    margin-bottom: 15px;
    max-width: 50%;
    width: 400px;
    border-radius: 15px;
    animation: 5s ease;
}

.imagem:hover {
    width: 50%;
}

.contatos {
    display: flex;
    margin: 0 auto 15px auto;
    text-decoration: none;
    font-weight: bold;
    color: #4d4d4d;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contato {
    display: table;
}

.contato a{
    display: table-cell;
    vertical-align: middle;
}

.contato a{
    text-decoration: none;
    color: #4d4d4d;
}

.imagens {
    width: 40px;
    margin-right: 15px;
}